arrow==0.4.2
astroid==2.3.3
atomicwrites==1.3.0
blessings==1.7
bpython==0.17.1
certifi==2024.7.4
chardet==3.0.4
Click==7.0
configobj==5.0.6
curtsies==0.3.0
greenlet==0.4.15
icalendar==4.0.3
ics==0.4
idna==3.7
isort==4.3.21
khal==0.9.10
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pygments==2.15.0
pylint==2.4.4
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.26
requests==2.31.0
six==1.14.0
tasklib==1.3.0
typing==3.6.6
tzlocal==2.0.0
urllib3==1.26.5
urwid==2.0.1
wcwidth==0.1.7
wrapt==1.11.2
